boto3
awscli
marshmallow==3.12.2
virtualenv
psycopg2
requests
datetime
werkzeug
docutils
apache-airflow-providers-amazon==2.0.0
apache-airflow-providers-apache-hdfs==2.0.0
apache-airflow-providers-apache-hive==2.0.0
apache-airflow-providers-apache-livy==2.0.0
apache-airflow-providers-apache-spark==2.0.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.0
apache-airflow-providers-ftp==2.0.0
apache-airflow-providers-grpc==2.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-jdbc==2.0.0
apache-airflow-providers-mongo==2.0.0
apache-airflow-providers-mysql==2.0.0
apache-airflow-providers-postgres==2.0.0
apache-airflow-providers-presto==2.0.0
apache-airflow-providers-sendgrid==2.0.0
apache-airflow-providers-sftp==2.0.0
apache-airflow-providers-slack==2.0.0
apache-airflow-providers-ssh==2.0.0
apache-airflow==2.1.2